
body{
	font-family: sans-serif;
	margin: 0px;
	bottom: 0px;



}

img{
	max-width: 100%;
}

.Layout{
	height: 350px;
	padding-top: 200px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.Layout p{
	text-align:center;
	color: #ffffff;
	font-size: 2.5em;
}

.DivTexto{
	background-color: #808080;
}
.teste{
	margin-top: -340px;
	margin-left: 0px;
	padding: -10px;
	color: #000000;
	font-size: 40pt;
}

.testee{
	margin-top: -340px;
	margin-left: 0px;
	padding: -10px;
	color: #000000;
	font-size: 40pt;
}
.teste2{
	margin-top: 10px;
	margin-left: 0px;
	color: #ffffff;
}
.testee2{
	margin-top: 10px;
	margin-left: 0px;
	color: #ffffff;
}
.foda{
	margin-left: -230px;
	margin-top: -120px;
}
.foda2{
	margin-left: -230px;
	margin-top: -90px;
}



.Destaque{
	padding: 150px 0px 250px 0px; /* box model */
	max-width: 1024px;
	margin: 0 auto;
}
.rap{
	margin-top: -100px;
	margin-left: -230px;
	font-size: 2em;

}
.video{
	margin-left: -227px;
}
.botao{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 1205px;
	bottom: -120px;
}
.botao2{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 1205px;
	bottom: -670px;
}
/* MENU */

.side-menu-wrapper { /* style menu wrapper */
	background: rgba(0,0,10,.95);
	padding: 40px 0 0 40px;
	position: fixed; /* Fixed position */
	top: 0;
	left: 0; /* Sidebar initial position. "right" for right positioned menu */
	height: 100%;
	z-index: 2;
	transition: 0.5s; /* CSS transition speed */
	width: 200px;
	font: 20px "Courier New", Courier, monospace;
	box-sizing: border-box;

}

.side-menu-wrapper > ul{ /* css ul list style */
	list-style:none;
	padding:0;
	margin:0;
    overflow-y: auto; /* enable scroll for menu items */
	height:95%;

}
.side-menu-wrapper > ul > li > a { /* links */
    display: block;
    border-bottom: 1px solid #131313;
    padding: 6px 4px 6px 4px;
    color: #ffffff;
    transition: 0.3s;
	text-decoration: none;

}
.side-menu-wrapper > a.menu-close { /* close button */
    padding: 8px 0 4px 23px;
    color: #ffffff;
    display: block;
    margin: -30px 0 -10px -20px;
    font-size: 35px;
    text-decoration: none;

}


.menu-overlay { /* overlay */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;

}

.menu-open{
	    display:block;
		background-color: #000000;
		color: #ffffff;
		text-decoration: none;
		padding: 15px;
}

/* Classe usada pelo JS para fixar o menu */
.Fixar{
	position: fixed;
	top: 0;
	z-index: 3;
}
nav li:hover ul{
	display: none;

}

nav ul li a:hover{
	background-color: #00bfff;
	transition: all 0.27s; /* efeito transição (0 a 1) */
	
}



/* FIM DO MENU */

/* CONTEUDO */

.imagem1{
	text-align: center;
	position: relative;
	padding: 30px;

}

.h1sobre{
	margin-top: 25px;
	text-align: center;
}

.h2sobre{
	position: relative;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 25px;
	
	padding: 20px;
}

.h3sobre{
	margin-top: 25px;
	margin-left: 150px;
	margin-right: 150px;
	position: relative;
	padding: 20px;
	font-size: 0.985em;

}

/* FORMULARIO DE CONTATO */
#contato{
	width: 60%;
	margin: 0 auto;
}

#contato input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius:5px;
	border: 1px solid: #ff0000;
	margin-bottom: 20px;
}

#contato textarea{
	width: 100%;
	padding: 10px 10px 80px 10px;
	border-radius:5px;
	border: 1px solid: #ff0000;
	margin-bottom: 20px;
	resize: none;
}

#contato input[type=submit]{
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid: #ffffff;
	padding: 10px 25px 10px 25px;
	color: #000000;
}

/* FIM DO FORMULARIO CONTATO */

/****** Pagina dos pecados ******/

.meliodas{
	padding: 10px;
	margin-left: 620px;
}

.ban{
	margin-left: 300px;
	padding: 10px;
}

.diane{
	padding: 10px;
	margin-left: 300px;
}


/***** fim página dos pecados *******/	

/* LOGO */

.Logo{
	background-color:#000000;
}
.logo2{
	margin-left: 15px;
	margin-top: 10px;
}

/* FIM DO LOGO */

/* botao voltar ao topo */
.voltar-ao-topo {
           width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 1425px;
	bottom: -2000px;
        }
        .voltar-ao-topo:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }


.voltar-ao-topo1 {
           width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 1465px;
	bottom: -16137px;
        }
        .voltar-ao-topo:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }

/* botao voltar ao topo */

/*RODAPÉ*/
footer{
	width: 100%;
	background-color: #000000;
	margin-top: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	color: #ffffff;
}

.rodape{
	margin-top: 310px;
}

.rodape1{
	margin-top: 0px;
}

/* SOCIAL */

.social{
	position: fixed;
	right: 0;
	top: 200px;
	z-index: 2000;
}

.social ul{
	list-style: none;
}

.social ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

.icon-facebook{

}


/* FIM DO SOCIAL */

.text{
	color: #ffffff;
}

/************* Smartphone 1024 ***************/

@media screen and (max-width: 1024px){

/* Página dos pecados */
.meliodas{
	margin-left: 350px;
}
.ban{
	margin-left: 550px;
	margin-right: 160px;
	margin-top: -20px;
}
.merlin{
	margin-left: 145px;
}
.king{
	margin-left: 145px;
}
.diane{
	margin-left: 145px;
	margin-right: 195px;
	margin-top: -800px;
	float: left;
}
.gowther{
	margin-left: 145px;

}
.escanor{
	margin-left: 565px;
	margin-top: -390px;
	margin-bottom: 20px;
}

/* Home rensponsivo */

.teste{
	margin-top: 10px;
	margin-left: 400px;
	padding: -10px;
	color: #000000;
	font-size: 40pt;
}
.testee{
	margin-top: 10px;
	margin-left: 200px;
	padding: -10px;
	color: #000000;
	font-size: 40pt;
}
.teste2{
	margin-top: -20px;
	margin-left: 200px;
	color: #ffffff;

}
.testee2{
	margin-top: -20px;
	margin-left: 100px;
	color: #ffffff;

}
.foda{
	margin-left: 300px;
	margin-top: -120px;
	width: 400px;
	height: 400px;
}
.foda2{
	margin-left: 300px;
	margin-top: -200px;
	width: 400px;
	height: 400px;
}

/* Botao */
.botao{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 450px;
	bottom: -655px;
}
.botao2{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 450px;
	bottom: -1470px;
}
.video{
	margin-left: 280px;

}
.rap{
	text-align: right;
	margin-right: 400px;
}

/* botao voltar ao topo */
.voltar-ao-topo {
           width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	left: 480px;
	bottom: -2760px;
        }
        .voltar-ao-topo:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }


.voltar-ao-topo1 {
           width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 1465px;
	bottom: -16137px;
        }
        .voltar-ao-topo:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }

}



/************* Smartphone 768 ***************/

@media screen and (max-width: 768px){

/* Página dos pecados */
.meliodas{
	margin-left: 35px;
}
.ban{
	float: right;
	margin-right: 45px;
	margin-top: -410px;

}
.merlin{
	margin-left: 45px;
}
.king{
	margin-left: 405px;
	margin-top: -400px;
}
.diane{
	margin-top: 10px;
	float:right;
	margin-right: 45px;
	
}
.gowther{
	margin-left: 70px;
	float: left;
	margin-top: -410px;

}
.escanor{
	margin-left: 50px;
	margin-top: 50px;
	
}

/* Home rensponsivo */

.teste{
	margin-top: 10px;
	margin-left: 270px;
	padding: -10px;
	color: #000000;
	font-size: 40pt;
}
.testee{
	margin-top: 10px;
	margin-left: 190px;
	padding: -10px;
	color: #000000;
	font-size: 40pt;
}
.teste2{
	margin-top: -20px;
	margin-left: 60px;
	color: #ffffff;

}
.testee2{
	margin-top: -20px;
	margin-left: 50px;
	color: #ffffff;

}
.foda{
	margin-left: 180px;
	margin-top: -120px;
	width: 400px;
	height: 400px;
}
.foda2{
	margin-left: 180px;
	margin-top: -200px;
	width: 400px;
	height: 400px;
}

/* Botao */
.botao{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 320px;
	bottom: -655px;
}
.botao2{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 320px;
	bottom: -1570px;
}
.video{
	margin-left: 150px;

}
.rap{
	text-align: right;
	margin-right: 250px;
}

/* botao voltar ao topo */
.voltar-ao-topo {
           width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	left: 350px;
	bottom: -2820px;
        }
        .voltar-ao-topo:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }


.voltar-ao-topo1 {
           width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 1465px;
	bottom: -16137px;
        }
        .voltar-ao-topo:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }

}

@media screen and (max-width: 1366px){

/* Home rensponsivo */

.teste{
	margin-top: 10px;
	margin-left: 350px;
	padding: -10px;
	color: #000000;
	font-size: 40pt;
}
.testee{
	margin-top: 10px;
	margin-left: 220px;
	padding: -10px;
	color: #000000;
	font-size: 40pt;
}
.teste2{
	margin-top: -20px;
	margin-left: 120px;
	color: #ffffff;

}
.testee2{
	margin-top: -20px;
	margin-left: 50px;
	color: #ffffff;

}
.foda{
	margin-left: 250px;
	margin-top: -120px;
	width: 400px;
	height: 400px;
}
.foda2{
	margin-left: 250px;
	margin-top: -200px;
	width: 400px;
	height: 400px;
}

.video{
	margin-left: 250px;
}
.rap{
	margin-left: 350px;
}

/* Botao */
.botao{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 680px;
	bottom: -680px;
}
.botao2{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 680px;
	bottom: -1440px;
}
}
/************* Smartphone ***************/

@media screen and (max-width: 480px){

/* Página dos pecados */
.meliodas{
	margin-left: 75px;
}
.ban{
	margin-right: 90px;
	margin-top: 10px;
}
.merlin{
	margin-left: 95px;
	margin-top: 10px;
}
.king{
	margin-top: 10px;
	margin-left: 75px;
}
.diane{
	margin-top: 10px;
	margin-right: 90px;

}
.gowther{
	margin-top: 10px;
	margin-left: 100px;
}
.escanor{
	margin-top: 10px;
	margin-left: 90px;
}


/* conteudo responsivo */

.h1sobre{
	margin-left: 10px;
	margin-top: -10px;
	padding: 10px;
}
.h2sobre{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -10px;
	padding: 0px;
	text-align: center;
}

.h3sobre{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -10px;
	padding: 0px;
	text-align: center;
}

.imagem1{
	margin-left: 50px;
	
}

.melideus{

width: 440px;
margin-left: -80px;
}

.ira{

width: 435px;
margin-left: -80px;

}


.pecado{

width: 435px;
margin-left: -15px;
	
}

.aniver{

width: 440px;
margin-left: -20px;

}

.manda{
width: 435px;
margin-left: -15px;

}

.tatto{
width: 435px;
margin-left: -20px;
	}

.treta{
width: 435px;
margin-left: -20px;
	}

	.treta1{
width: 430px;
margin-left: -20px;
	}

	.treta2{
width: 430px;
margin-left: -80px;
	}

	.treta3{
width: 428px;
margin-left: -20px;
	}

/* Home rensponsivo */

.teste{
	margin-top: 10px;
	margin-left: 150px;
	padding: -10px;
	color: #000000;
	font-size: 40pt;
}
.testee{
	margin-top: 10px;
	margin-left: 150px;
	padding: -10px;
	color: #000000;
	font-size: 40pt;
}
.teste2{
	margin-top: -20px;
	margin-left: 60px;
	color: #ffffff;

}
.testee2{
	margin-top: -20px;
	margin-left: 50px;
	color: #ffffff;

}
.foda{
	margin-left: 40px;
	margin-top: -120px;
	width: 400px;
	height: 400px;
}
.foda2{
	margin-left: 40px;
	margin-top: -200px;
	width: 400px;
	height: 400px;
}

/* SOCIAL */

.social{
	position: fixed;
	left: -40px;
	top: 250px;
	z-index: 2000;
}

.social ul{
	list-style: none;
}

.social ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

.icon-facebook{

}

/* Botao */
.botao{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 320px;
	bottom: -680px;
}
.botao2{
	width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 320px;
	bottom: -1740px;
}
.video{
	margin-left: 0px;
}
.rap{
	text-align: right;
	margin-right: 100px;
}

/* botao voltar ao topo */
.voltar-ao-topo {
           width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	left: 180px;
	bottom: -3000px;
        }
        .voltar-ao-topo:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }


.voltar-ao-topo1 {
           width: 100px;
	padding: 10px 0px 10px 0px;
	display: block;
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	font-size: 0.875em;
	position: absolute;
	text-align: center;
	right: 1465px;
	bottom: -16137px;
        }
        .voltar-ao-topo:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }

}	